* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.75em;
}

body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4vh 4vw;
  color: gray;
}

section {
  margin-bottom: 1em;
}

h1,
p {
  font-family: Lato;
}

h2 {
  margin: 1em 0 0;
  font-size: 1rem;
  color: teal;
  font-weight: 600;
}

h3 {

  font-size: 1.2rem;
  color: tomato;
  font-weight: 600;
}


// Util
.flex {
  display: flex;

}
.flex-jc-center {
  justify-content: center;
}
.flex-ai-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
